// firestore.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite lectura y escritura total sin restricciones para sincronización inmediata y fluida
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
